.DS_Store
devbox/profiles/*.env
.worktrees/
devbox/terraform/.terraform/
devbox/terraform/*.tfstate
devbox/terraform/*.tfstate.backup
devbox/terraform/*.tfvars
devbox/terraform/.terraform.lock.hcl
terraform/.terraform/
terraform/*.tfstate
terraform/*.tfstate.backup
terraform/*.tfvars
terraform/.terraform.lock.hcl
